html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 5px
}

::-webkit-scrollbar-track{
  background-color: #000;
}

::-webkit-scrollbar-thumb{
  background-color: #8000ff;
}

#image-container{
  border: 1px solid;
    --image-container-first-color: #383858;
    --image-container-second-color: rgba(27, 27, 40, 0);
    --image-container-border-color: #292929;
  background-image: linear-gradient(to bottom right, var(--image-container-first-color), var(--image-container-second-color));
  border-color: var(--image-container-border-color);
  border-radius: 20px;
  align-content: center;
}

#image-container:hover{
  transition: .3s ease;
  box-shadow: 0 0 50px;
  transform: translateY(-2px) translateX(-2px);
}

#tech-stack{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.blob {
  position: absolute;
  right: 0%;
  top: 0;
  background-color: #cf59e6;
  width: 600px;
  height: 100vh;
  filter: blur(150px);
  opacity: .3;
  border-radius: 50%;
  animation: 1s linear infinite alternate-reverse breath;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}

.resume-btn {
  color: white;
  margin-top: 10px;
  justify-content: flex-start;
  height: 45px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .199);
  background: linear-gradient(82.3deg, #965de9 10.8%, #6358ee 94.3%);
  position: relative;
  align-items: center;
  transition-duration: .3s;
  display: flex;
  width: 20%;
  transition-duration: .3s;
  padding-left: 10px
}

.sign{
  fill: white;
  align-items: center;
  transition-duration: .3s;
  display: flex;
  width: 28%;
  transition-duration: .3s;
  padding-left: 20px
}

.text{
  padding-left: 10px
}

.resume-btn:hover {
  transform: translateY(-2px) translateX(-2px);
}

.resume-btn:active {
  transform: translate(2px ,2px)
}

.letsTalkBtn {
  background-color: transparent;
  position: relative;
  border: none;
  width: 180px;
  height: 40px;
  border-radius: 0;
  cursor: pointer;
  transition: .3s;
  z-index: 1;
}

.letsTalkBtn-text {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(230,230,230,0.8); 
  border: none;
  border-radius: 7px;
  backdrop-filter: blur(5px);
  color: #000;
  align-items: center; 
  justify-content: center; 
  letter-spacing: .8px;
  z-index: 1;
}

.letsTalkBtn-BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(150deg,#71cbff,#8000ff);
  z-index: -1;
  left: 6px;
  top: 6px;
  border-radius: 7px;
  pointer-events: none;
  transition: .3s;
  overflow: visible;
}

.letsTalkBtn:hover {
  transform: translateY(-2px) translateX(-2px);
}

.letsTalkBtn:hover .letsTalkBtn-BG {
  transform: translateY(2px) translateX(2px);
}

.letsTalkBtn:active {
  transform: translateY(7px) translateX(7px);
}

.letsTalkBtn:active .letsTalkBtn-BG {
  transform: translateY(-7px) translateX(-7px);
}