.blob {
  position: absolute;
  right: 0%;
  top: 0;
  background-color: #cf59e6;
  width: 600px;
  height: 100vh;
  filter: blur(150px);
  opacity: .3;
  border-radius: 50%;
  animation: 1s linear infinite alternate-reverse breath;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.animated-button {
  background-color: rgba(138,43,226,1);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 70px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.animated-button:hover {
  background-color: transparent;
  border: 1px solid;
  border-color: #cf59e6;
}
