.blob {
  position: absolute;
  right: 0%;
  top: 0;
  background-color: #cf59e6;
  width: 600px;
  height: 100vh;
  filter: blur(150px);
  opacity: .3;
  border-radius: 50%;
  animation: 1s linear infinite alternate-reverse breath;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}